@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* ----------------------- PHONE ----------------------- */
.iphone {
  border: 4px solid #3b444b;
  border-radius: 50px;
  position: relative;
}

.iphone-14 {
  width: 500px;
  height: 1000px;
  border: 5px solid black;
  background-image: url("https://raw.githubusercontent.com/zouraiz523/iphone-14-pro-max/main/Phone%2014%20Pro%20Max%20and%20Dynamic%20Island/img-bg.webp");
  background-repeat: no-repeat;
  border-radius: 47px;
}

.boder-iphone {
  border-radius: 50px;
  border: 4px solid #3b444b;
  position: absolute;
  inset: 0;
  z-index: 999;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    10% 100%,
    10% 1%,
    90% 1%,
    99% 5%,
    99% 95%,
    90% 99.5%,
    10% 99.5%,
    1% 95%,
    10% 100%,
    100% 100%,
    100% 0%
  );
}

.operator-name,
.operator-icons {
  color: white;
}

.dynamic-island {
  width: 12rem;
  height: 2.5rem;
  background: black;
  border-radius: 50px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.dynamic-island::before {
  content: "";
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  background: #121212;
  box-shadow: 0 0 1px grey;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  z-index: 99999;
  transition: all 0.5s;
}

.operator-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.battery {
  width: 2rem;
  height: 1.1rem;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  color: #000;
  background: #fefefe;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.battery::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -0.36rem;
  background: inherit;
  border-radius: 50%;
  width: 0.2rem;
  height: 0.35rem;
}

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.45rem;
  width: 14rem;
  height: 0.4rem;
  border-radius: 50px;
  background: #fff;
}

i {
  cursor: pointer;
}

.music-control {
  border-radius: 40px;
  width: 12rem;
  height: 2.5rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #000;
  visibility: hidden;
  color: #fff;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.music-control div {
  opacity: 0;
  transition: all 0.1s ease-out;
}

.music-control.active {
  visibility: visible;
  padding: 32px;
  width: 450px;
  height: 250px;
}

.music-control.active div {
  transition: all 1s 0.2s ease-out;
  opacity: 1;
}

.seek-custom {
  background: #75757565;
  accent-color: #fff;
  -webkit-appearance: none;
}

#bars {
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
